import discord
from discord.ext import commands
from pprint import pprint
from googletrans import Translator

class JapaneseHelpCommand(commands.DefaultHelpCommand):
    def __init__(self):
        super().__init__()
        self.commands_heading = 'コマンド:'
        self.no_category = 'その他'
        self.command_attrs['help'] = "コマンド一覧と簡単な説明を表示"

    def get_ending_note(self):
        return (f"コマンドの説明: hogehgoe\n"
                f"コマンドの説明: fugafuga\n")


TOKEN = ''
prefix = '/yattaze '


class Translate(commands.Cog):
    def __init__(self, bot):
        super().__init__()
        self.bot = bot

    def translate(self, lang, source):
        """translate

        Arguments:
            lang   {string} -- 翻訳先言語
            source {string} -- きたねぇ日本語を入れるぜ
        """
        trans_res = ''

        trans_res = translator.translate(source, dest=lang).text

        return trans_res

    # 起動時処理
    @commands.Bot.event()
    async def on_ready(self):
        print('ログインしたぜ')

    @commands.command()
    async def trans(self, ctx, arg1, arg2):
        """
        翻訳をします。\n/yattaze trans <翻訳先言語> <翻訳したい内容>
        """

        res = self.translate(arg1, arg2)
        await ctx.send(res)


bot = commands.Bot(command_prefix=prefix,
                   help_command=JapaneseHelpCommand())
translator = Translator()
bot.run(TOKEN)



